<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG">
  <test thread-count="5" name="StripAPI">
    <classes>
      <class name="com.gk.APITesting.SetUp.BaseTest"/>
      <class name="com.gk.APITesting.testcases.CreateCustomer"/>
    </classes>
  </test> <!-- StripAPI -->
</suite> <!-- TestNG -->
